/*variáveis globais*/
$main-color: #425F8C;
$main-font: 'Archivo', sans-serif;
$font-secondary: 'Comfortaa', sans-serif;
$color-secondary: #474A4B;
$color-text-black: #000;
$color-text-body: #fff;

.section.clients {
  padding: 40px 4%;   
  box-sizing: border-box;
}

.interface{
   background-color: #EBECED;  
   width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;   
}

.divtitle{
    width: 100%;
    text-align: center;    
    margin-top: 30px;
}

.title{
  font-family: $main-font;
  font-weight: 700; 
  font-size: 36px;
}

.subtitle{
  font-family: $font-secondary;
  font-weight: 700; 
  font-size: 22px;
  color: $main-color;
}

.divcontent{
    width: 100%;
    text-align: center;   
    margin-top: 40px;    
}

.divtopicsindustry,
.divtopicsconstruction {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;  
  width: 100%;
  margin: 50px;
  animation: FadeIn 1.5s ease-in-out forwards;
}

.divtopics2industry{
  margin-top: -5px;
}

.topicsindustry{
   font-family: $font-secondary;
   color: $color-secondary;    
}

.divtopicsestatal{
   display: grid;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin: 9vh auto 0;
   animation: FadeIn 1.5s ease-in-out forwards; 
}

.topicsestatal{
   font-family: $font-secondary;
   color: $color-secondary;   
}

.divtopicsector{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 9vh auto 0;  
    animation: FadeIn 1.5s ease-in-out forwards;    
}

.topicssector{
   font-family: $font-secondary;
   color: $color-secondary;   
}


.topicsconstruction{
   font-family: $font-secondary;
   color: $color-secondary;      
}

.divtopics2construction{
  margin-top: -2px;
}

.divtopicspublic{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 9vh auto 0;      
  animation: FadeIn 1.5s ease-in-out forwards;   
}

.topicspublic{
   font-family: $font-secondary;
   color: $color-secondary; 
}

.divtopicsothers{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 9vh auto 0;    
  animation: FadeIn 1.5s ease-in-out forwards;   
}

.topicsothers{
  font-family: $font-secondary;
  color: $color-secondary;  
}


@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 744px) and (max-width: 1440px) {
  .divtopicsindustry{
    display: flex; 
    gap: 3vh;
    margin-top: 6vh;
    margin-left: -5vh;  
     display: grid;
    justify-content: center;
    align-items: center;  
  }

  .divtopics2industry{
      position: relative;     
      bottom: 2.2vh;
      left: 9vh;
    }

  .divtopics1industry{
    margin-left: 9vh;
  }

  .divtopicsestatal{
    margin-top: 5vh;
    margin-left: 1vh;    
  }

  .divtopicsector{
    margin-top: 5vh;
    margin-left: 3vh;       
  }

  .divtopicsconstruction{
    display: flex; 
    gap: 3vh;
    margin-top: 4vh;
    margin-left: 2vh;
    display: grid;
    justify-content: center;
    align-items: center;  
  }
  
   .divtopics2construction{
    position: relative;      
    bottom: 2.8vh;
  }

  .divtopicspublic{
    margin-top: 4vh;
    margin-left: 2vh;     
  }

  .divtopicsothers{
    margin-top: 2vh;
    margin-left: 7vh;    
    animation: FadeIn 1.5s ease-in-out forwards;   
  }  
  
}  

@media screen and (min-width: 360px) and (max-width: 730px) {
    .divtopicsindustry{       
      gap: 3vh;
      position: relative;
      right: 4vh;
      display: grid;
      justify-content: center;
      align-items: center;       
    }

    .divtopics2industry{
      position: relative;     
      bottom: 2vh;
    }

    .divtopicsestatal{
      margin-top: 5vh;
      margin-left: 1.5vh;    
    }

    .divtopicsector{
      margin-top: 5vh;
      margin-left: 3vh;       
    }

    .divtopicsconstruction{
      gap: 3vh;
      position: relative;
      right: 4.3vh;
      display: grid;
      justify-content: center;
      align-items: center;   
    }

    .divtopics2construction{
      position: relative;      
      bottom: 2.5vh;
    }

    .divtopicspublic{
      margin-top: 4vh;
      margin-left: 2vh;     
    }

    .divtopicsothers{
      margin-top: 2vh;
      margin-left: 5vh;        
    }  


}  