/*variáveis globais*/
$main-color: #425F8C;
$main-font: 'Archivo', sans-serif;
$font-secondary: 'Comfortaa', sans-serif;
$color-secondary: #474A4B;
$color-text-black: #000;
$color-text-body: #fff;

.section.clients {
  padding: 40px 4%;   
}

.interface{
   background-color: #EBECED;  
   padding: 20px;  
   padding-top: 40px;
   padding-bottom: 40px;
   
}

.divtitle{
    width: 100%;
    text-align: center;    
    margin-top: 50px;
}

.title{
  font-family: $main-font;
  font-weight: 700; 
  font-size: 36px;
}

.subtitle{
  font-family: $font-secondary;
  font-weight: 700; 
  font-size: 22px;
  color: $main-color;
}

.divcontent{
    width: 100%;
    text-align: center;   
    margin-top: 40px;    
}

.divtopicsindustry{
    display: flex; 
    gap: 10vh;
    margin-top: 9vh;
    margin-left: 39vh;    
    animation: FadeIn 1.5s ease-in-out forwards;
}

.divtopics2industry{
  margin-top: -5px;
}

.topicsindustry{
   font-family: $font-secondary;
   color: $color-secondary;    
}

.divtopicsestatal{
    margin-top: 9vh;
    margin-left: 45vh;     
    animation: FadeIn 1.5s ease-in-out forwards; 
}

.topicsestatal{
   font-family: $font-secondary;
   color: $color-secondary;   
}

.divtopicsector{
    margin-top: 9vh;
    margin-left: 39vh;   
    animation: FadeIn 1.5s ease-in-out forwards;    
}

.topicssector{
   font-family: $font-secondary;
   color: $color-secondary;   
}

.divtopicsconstruction{
  display: flex;
  gap: 10vh;
  margin-top: 9vh;
  margin-left: 39vh;     
  animation: FadeIn 1.5s ease-in-out forwards;    
}

.topicsconstruction{
   font-family: $font-secondary;
   color: $color-secondary;      
}

.divtopics2construction{
  margin-top: -2px;
}

.divtopicspublic{
  margin-top: 9vh;
  margin-left: 44vh;      
  animation: FadeIn 1.5s ease-in-out forwards;   
}

.topicspublic{
   font-family: $font-secondary;
   color: $color-secondary; 
}

.divtopicsothers{
  margin-top: 9vh;
  margin-left: 45vh;    
  animation: FadeIn 1.5s ease-in-out forwards;   
}

.topicsothers{
  font-family: $font-secondary;
  color: $color-secondary;  
}

@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .divtopicsindustry{
    display: flex; 
    gap: 3vh;
    margin-top: 6vh;
    margin-left: -5vh;  
  }

  .divtopics1industry{
    margin-left: 9vh;
  }

  .divtopicsestatal{
    margin-top: 5vh;
    margin-left: 10vh;    
  }

  .divtopicsector{
    margin-top: 5vh;
    margin-left: 9vh;       
  }

  .divtopicsconstruction{
    display: flex; 
    gap: 3vh;
    margin-top: 4vh;
    margin-left: 2vh;
  }

  .divtopicspublic{
    margin-top: 4vh;
    margin-left: 9vh;     
  }

  .divtopicsothers{
    margin-top: 2vh;
    margin-left: 26vh;    
    animation: FadeIn 1.5s ease-in-out forwards;   
  }  
  
}  