/*variáveis globais*/
$main-color: #425F8C;
$main-font: 'Archivo', sans-serif;
$font-secondary: 'Comfortaa', sans-serif;
$color-secondary: #474A4B;
$color-text-black: #000;
$color-text-body: #fff;

.section.clients {
  padding: 40px 4%;   
}

.interface{
   background-color: #EBECED;  
   padding: 20px;  
}

.divtitle{
    width: 100%;
    text-align: center;    
    margin-top: 50px;
}

.title{
  font-family: $main-font;
  font-weight: 700; 
  font-size: 36px;
}

.subtitle{
  font-family: $font-secondary;
  font-weight: 700; 
  font-size: 22px;
  color: $main-color;
}

.divcontent{
    width: 100%;
    text-align: center;   
    margin-top: 40px;    
}

.divtopicsindustry{
    margin-top: 9vh;
    margin-left: 39vh;    
    animation: FadeIn 1.5s ease-in-out forwards;
}

.topicsindustry{
   font-family: $font-secondary;
   color: $color-secondary;   
   display: flex;
   flex-wrap: wrap;
}

.topicindustry{
  width: 50%;  
}

.divtopicsestatal{
    margin-top: 9vh;
    margin-left: 45vh;     
    animation: FadeIn 1.5s ease-in-out forwards; 
}

.topicsestatal{
   font-family: $font-secondary;
   color: $color-secondary;   
}

.divtopicsector{
    margin-top: 9vh;
    margin-left: 39vh;   
    animation: FadeIn 1.5s ease-in-out forwards;    
}

.topicssector{
   font-family: $font-secondary;
   color: $color-secondary;   
   display: flex;
   flex-wrap: wrap;
}

.topicsector{
  width: 50%;  
}

.divtopicconstruction{
  margin-top: 9vh;
  margin-left: 39vh;     
  animation: FadeIn 1.5s ease-in-out forwards;    
}

.topicsconstruction{
   font-family: $font-secondary;
   color: $color-secondary;   
   display: flex;
   flex-wrap: wrap;
}

.topicconstruction{
  width: 50%; 
}

.divtopicspublic{
  margin-top: 9vh;
  margin-left: 44vh;      
  animation: FadeIn 1.5s ease-in-out forwards;   
}

.topicspublic{
   font-family: $font-secondary;
   color: $color-secondary; 
}

.divtopicsothers{
  margin-top: 9vh;
  margin-left: 45vh;    
  animation: FadeIn 1.5s ease-in-out forwards;   
}

.topicsothers{
  font-family: $font-secondary;
  color: $color-secondary;  
}

@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}