/*variáveis globais*/
$main-font: 'Archivo', sans-serif;
$font-secondary: 'Comfortaa', sans-serif;
$color-text-body: #fff;

.interface{
   background-color: #2D4469;   
   margin: 0 auto;
}

.flex{
  display: flex;  
  gap: 90px;
  margin-right: 200px;
  justify-content: center;
}

.linefooter{
   text-align: center;   
   margin-top: 70px;
}

.logo{
   margin-top: 60px;  
   margin-left: 150px; 
   filter: drop-shadow(9px 0px 8px rgba(0, 0, 0, 0.25));
}

.topicslist{
   display: flex;
   flex-direction: column; 
   gap: 10px;
   margin-top: 20px;
}

.division1{
    width: 1px;   
    height: 245px;
    margin-top: 50px;
    background-color: $color-text-body; 
    border: 1px solid $color-text-body;
}

.topics1{   
   margin-top: 50px;  
   border-color: #fff;
}

.topics2{
   display: flex;
   flex-direction: column; 
   gap: 10px;
   margin-top: 50px;   
}

.title{
  font-family: $main-font;
  color: $color-text-body;  
  font-size: 25px;
}

.topic1{
    width: 160px;    
    font-family: $font-secondary;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-body;  
    text-decoration: none;
}

.topic2{    
    font-family: $font-secondary;     
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-body;
    position: relative;
    top: 100px;
}

.topic1:hover{
    color: darken($color-text-body, 10%);
}

.division2{
   width: 1px;   
   height: 240px;
   margin-top: 50px;
   background-color: $color-text-body;   
   border: 1px solid $color-text-body;
}

.divaddress{    
    width: 280px;
    height: 70px;     
    margin-top: 5px;
    display: flex;
}

.topicaddress{
    font-family: $font-secondary;     
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: $color-text-body;    
}

.topicphone{  
    color: $color-text-body;
    font-family: $font-secondary;    
    font-size: 14px;
    position: relative;
    left: 30px;
    bottom: 28px;
}

.topicclock{    
    color: $color-text-body;
    font-family: $font-secondary;    
    font-size: 14px;
    margin-top: 4px;
    width: 200px;
}

.divclock{
   position: relative;
   bottom: 10px; 
   display: flex;
}

.text{
  color: $color-text-body;
  font-family: $font-secondary;  
  padding-bottom: 4vh;
}

.division3{    
    width: 90%;
    height: 1px;    
    margin-bottom: 20px;    
    margin-left: 10vh;
    justify-content: center;
    border: 1px solid $color-text-body;
}

.divtitile{
  margin-bottom: 2px;  
}

@media screen and (min-width: 744px) and (max-width: 1440px) {
   .logo{
      margin-top: 60px;  
      position: relative;
      left: 2.8vh;
      filter: drop-shadow(9px 0px 8px rgba(0, 0, 0, 0.25));
    }

    .division1{    
        position: relative;        
        left: 2vh;
    }

    .division2{    
        position: relative;        
        left: -6vh;
    }

    .topics2{
      display: flex;
      flex-direction: column; 
      gap: 10px;
      margin-top: 50px;
      position: relative;
      right: 10vh;   
    }

    .topics1{
      position: relative;
      left: -1vh; 
    }

    .topicaddress{        
      width: 20vh;   
    }

    .divphone{   
      position: relative;     
      top: 6px;
    }

    .division3{    
        width: 90%;
        height: 1px;        
        margin-bottom: 20px;    
        margin-left: 5vh;
        justify-content: center;
        border: 1px solid $color-text-body;
    }
    
}    

  @media screen and (min-width: 360px) and (max-width: 730px) {
         .division1{
          display: none;
        }

         .division2{
          display: none;
        }

        .flex{
         display: flex;  
         flex-direction: column;
        }

        .logo{          
          margin-top: 20px;  
          margin-left: 35px;      
          width: 200px;
          height: 150px;    
        }

        .topics1{
          margin-left: 80px;  
          margin-top: -15px;
        }

        .topics2{
          margin-left: 73px;  
          margin-top: -30px;
          width: 200px;
        }

        .division3{    
          width: 80%;
          height: 1px; 
          position: relative;       
          bottom: 40px;  
          margin-left: 34px;          
        }

        .text{
          font-size: 16px;
          width: 345px;
          margin-top: -40px;
          margin-left: 10px;
        }

  }   